extends layout

block content
  #background
  #home-wrapper(ng-app="Chatty" ng-controller="MainCTRL")
    header(ng-include src="'/js/partials/components/header.html'", onload="loadUser()" id="header")
    #sidebar(ng-include src="'/js/partials/components/sidebar.html'")
    #messages-wrapper(class="clearfix" ng-include src="'/js/partials/components/messages-wrapper.html'")


